.blogDiv
{
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.filterDiv
{
    width: 100%;
    height: auto;
    font-family: "Poppins",sans-serif;
    margin: 40px 0;
}
.blogImage
{
    width: 100%;
    max-height: 250px;
    margin: 20px 0;
    margin-left: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.blogImage img
{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
    filter: grayscale(60%);
}
.blogImage img:hover
{
    transform: scale(1.1) !important;
    filter: grayscale(0%);
}
.blogpageImage
{
    max-height: 600px;
    margin-bottom: 30px;
    
}
.blogpageImage img
{
    
    filter: grayscale(0%);
}
.blogImage img:hover
{
    transform: scale(1);
}
.tags span
{
    color: gray;
    font-size: 12px;
    text-transform: capitalize;
  
}
.blogName
{
    color: #000;
    font-size: 35px;
    
    font-weight: 800;
}
.blogSub
{
    font-size: 14px;
    color: gray;
    margin: 12px 0;
    font-family: 'Montserrat',sans-serif;
   width: 100%;
    word-wrap: break-word;
    height: 100px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.readMore
{
    font-size: 16px;
    color: #000;
    transition: all 0.3s ease;
}
.readMore i
{
    font-size: 12px;
    transform: translateY(-1.5px);
}
.readMore:hover
{
    transform: scale(1.04) translateX(15px);
}
.blogWrap
{
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1% 2%;
}
.allbloghead
{
    font-family: "Oswald",sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.mainBlog p
{

    color: rgb(51, 51, 51);
    font-size: 15px;
    font-family: "Poppins",sans-serif;
  
}
.blogImg
{
    padding: 0;
    margin: 16px 0;
}
.mainBlog
    {
        border-bottom: 1px solid #000;
    }
    .sideBar
    {
margin-top: 30px;
    }
@media screen and (min-width:1200px)
{
    .sideBar
    {
        position: sticky !important;
        top: 20px;
        
    }
    .mainBlog
    {
        border-bottom: 1px solid transparent;
    }
}