
.productRow
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product
{
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
    height: 280px;
}
.image {
 
  width: 120%;
  height: auto;
  margin: 0;
  margin-left: -10%;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.001;
  transition: .5s ease;
  background-color: #000000e0;
}

.product:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'Oswald',sans-serif;
 
}
.text p
{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
}
.number
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  font-family: 'Oswald',sans-serif;
}
@media screen and (max-width:480px)
{
    .overlay
    {
        background: #00000085;
        opacity: 1;
    }
}